h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
#slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.bg{
  background:url(images/donate.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
}
.margin {
    height: 60px;
    background-color: #4e0303;
}


.bg1{
  background:url(images/Layer.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
}