
        <section id="slider" class="slider-parallax clearfix">

			<div class="camera_wrap" id="camera_wrap_1">
				<div data-thumb="images/full/thumbs/1.jpg" data-src="images/full/1.jpg">
					<div class="camera_caption fadeFromBottom flex-caption slider-caption-bg" style="left: 0; border-radius: 0; max-width: none;">
						<div class="container">Powerful Layout with Responsive functionality that can be adapted to any screen size.</div>
					</div>
				</div>
				<div data-thumb="images/full/thumbs/2.jpg" data-src="images/full/2.jpg">
					<div class="camera_caption fadeFromBottom flex-caption slider-caption-bg" style="left: 0; border-radius: 0; max-width: none;">
						<div class="container">Looks beautiful &amp; ultra-sharp on Retina Screen Displays.</div>
					</div>
				</div>
				<div data-thumb="images/full/thumbs/3.jpg" data-src="images/full/3.jpg">
					<div class="camera_caption fadeFromBottom flex-caption slider-caption-bg" style="left: 0; border-radius: 0; max-width: none;">
						<div class="container">Included 20+ custom designed Slider Pages with Premium Sliders like Layer, Revolution, Swiper &amp; others.</div>
					</div>
				</div>
				<div data-thumb="images/full/thumbs/4.jpg" data-src="images/full/4.jpg">
					<div class="camera_caption fadeFromBottom flex-caption slider-caption-bg" style="left: 0; border-radius: 0; max-width: none;">
						<div class="container">You have easy control on each &amp; every element that provides endless customization possibilities.</div>
					</div>
				</div>
			</div>
